
.commentBox {
    height: 40%;
    width: 30%;
}
#header {
    background-color:yellow;
    text-align:center;
}
#score{
    width: 100%;
    padding: 60pt;
}
#submit{
    width: 50%;
}

.rating {
    overflow: hidden;
    display: inline-block;
    padding:10em;

}
.rating-input {
    position: absolute;
    left: 0;
    top: -50px;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}
